.custom_radio {
  @apply cursor-pointer flex flex-col items-start justify-start gap-2 border-2 p-4 rounded-xl min-w-[184px] text-black font-medium text-base;
}

.selected {
  @apply bg-neutral-50 border-black;
}

.none_selected {
  @apply bg-white border-neutral-200;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 110px - 104px);
}

.card_button {
  @apply cursor-pointer flex flex-row justify-between gap-6 border-2 p-4 rounded-xl min-w-[184px] text-black font-medium text-base max-w-[448px] items-center;
}

// Float Input
.TextField {
  @apply relative border border-neutral-200 rounded-lg w-[440px] h-[80px];
}

.isEmpty {
  transform: translate(2em, 2em) scale(0.8);
  opacity: 0.5;
}

.isFilled {
  transform: translate(2em, 1em) scale(0.8);
}

.TextField__Label {
  font: inherit;
  transition: transform 200ms;
  transform-origin: top left;
  pointer-events: none;
  line-height: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.TextField__Input {
  border: none;
  outline: none;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 1;
  background: transparent;
}

.Input__isEmpty {
  transform: translate(2em, 1.65em);
}

.Input__isFilled {
  transform: translate(2em, 2.4em);
}
