.Button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  width: auto;
  z-index: 999;

  &.primary {
    @apply bg-primary-300 text-white;

    &:hover {
      @apply bg-primary-200;
    }
  }

  &.secondary {
    @apply bg-neutral-500 text-white;
  }

  &.transparent {
    @apply text-neutral-500;
    background-color: transparent;
  }

  &.border {
    border: 1px solid gray;
  }

  &.small {
    @apply text-sm py-2 px-4;
  }

  &.medium {
    @apply text-base py-4 px-8;
  }

  &.large {
    @apply text-xl py-6 px-10;
  }

  &.icon {
    @apply m-1;
  }
}
