.Button {
  border: none;
  outline: none;
  width: auto;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 8px;
  cursor: pointer !important;

  &.primary {
    @apply bg-primary-300 text-white;

    &:hover {
      @apply bg-primary-200 transition-all duration-300;
    }
  }

  &.secondary {
    @apply bg-neutral-500 text-white;
  }

  &.transparent {
    @apply text-black;
    background-color: #fff;

    &:hover {
      @apply transition shadow-md;
    }
  }

  &.border {
    border: 1px solid #e4e4e8;
  }

  &.small {
    @apply text-base py-2 px-4;
  }

  &.medium {
    @apply text-base py-4 px-8;
  }

  &.large {
    @apply text-xl py-6 px-10;
  }

  &.icon {
    @apply m-1;
  }

  &.rounded-full {
    border-radius: 999px;
  }

  &.rounded-md {
    border-radius: 8px;
  }
}
