.UserInfo__Container {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(17, 19, 47, 0.1);
  padding: 24px;
}

.userImage {
  width: 64px;
  height: 64px;
  border-radius: 44px;
  border: 2px solid #fff;
  box-shadow: 0px 4px 20px 0px rgba(17, 19, 47, 0.1);
  @apply bg-cover bg-center;
}
